.container {
  display: flex;
  flex-direction: column;
}

.search_input {
  display: flex;
}

.search_input input {
  width: 100%;
  height: 20px;
}

.list-cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 20px;
}
